.invalid {
  border: 2px solid red;
   

}
.empty
{
   border: 3px solid red;
    position:static;
 color: red;
}
.valid {
  border: 2px solid green;
   position:static;
 color:green;
}
.reqFieldValid
{
    font-weight: bold;
    color: red;

}

/*Tooltip*/
.tooltipReg
{
    position:relative;
    display:inline;
    left:5px;
    top:0px;
}
.tooltipReg:hover:before
{
    border: solid ;
    border-color:transparent #ff8f35;
    border-width:6px 6px 6px 0px;
    bottom:21px;
    content: "";
    left:155px;
    top:5px;
    position:absolute;
    z-index:95;

}
.tooltipReg:hover:after
{
    background:  #ff8f35;
border-radius: 5px;
    border-width:6px 6px 6px 0px;
  color:#fff;
  width:150px;

      bottom:21px;
    content: attr(alt);
    left:160px;
    top:-5px;
    position:absolute;
    padding:5px 15px;
    z-index:95;

}
/*Tooltip*/

/*Password Strength Monitor*/
.VeryPoorStrength
{
background: Red;
color:White;
font-weight:bold;
}
.WeakStrength
{
background: Gray;
color:White;
font-weight:bold;
}
.AverageStrength
{
background: orange;
color:black;
font-weight:bold;
}
.GoodStrength

{
background: blue;
color:White;
font-weight:bold;
}
.ExcellentStrength

{
background: Green;
color:White;
font-weight:bold;
}
.BarBorder
{
border-style: solid;
border-width: 1px;
width: 180px;
padding:2px;
}