<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EventrixDBConnectionString" connectionString="Data Source=DLEMZA-PC\SQLEXPRESS;Initial Catalog=EventrixDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EventrixDBConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\EventrixDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

  <!--<appSettings>
    <add key="FacebookConsumberKey" value="276611132830324"/>
    <add key="FacebookConsumerSecret" value ="f964f15e419cab5e1dfd233799e1ea9b"/>

    <add key="TwitterConsumerKey" value ="V2OvURAhR6To6Z0xvOFzThYDg"/>
    <add key="TwitterConsumerSecret" value="bXKBqFqXJgwhrjTf6wfVXjpcdSM2ldDWw7F75fhRZpefoNzgdd"/>
  </appSettings>-->
  
  <system.serviceModel>
    
    
    <services>
      
      <service name="EventrixWCF.ServiceHost" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IServiceHost"></endpoint>
      </service>
    <service name="EventrixWCF.ServiceGuest" behaviorConfiguration="EventrixWCF_Behavior">
      <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IServiceGuest"></endpoint>
    </service>
      <service name="EventrixWCF.ServiceStaff" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IServiceStaff"></endpoint>
      </service>
      <service name="EventrixWCF.EventService" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IEventService"></endpoint>
      </service>
     <service name="EventrixWCF.LoginService" behaviorConfiguration="EventrixWCF_Behavior">
       <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.ILoginService"></endpoint>
     </service>
    <service name="EventrixWCF.RegistrationService" behaviorConfiguration="EventrixWCF_Behavior">
      <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IRegistrationService"></endpoint>
    </service>
      <service name="EventrixWCF.MappingService" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IMappingService"></endpoint>
      </service>
      <service name="EventrixWCF.Update" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IUpdate"></endpoint> 
      </service>
      <service name="EventrixWCF.ProductService" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IProductService"></endpoint>
      </service>
      <service name="EventrixWCF.FileUpload" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IFileUpload"></endpoint>
      </service>
      <service name="EventrixWCF.TicketService" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.ITicketService"></endpoint>
      </service>
      <service name="EventrixWCF.EmailingService" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IEmailingService"></endpoint>
      </service>
      <service name="EventrixWCF.GuestEdit" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IGuestEdit"></endpoint>
      </service>
    <service name="EventrixWCF.ReportingService" behaviorConfiguration="EventrixWCF_Behavior">
      <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IReportingService"></endpoint>
    </service>
      <service name="EventrixWCF.ScanningService" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IScanningService"></endpoint>
      </service>
      <service name="EventrixWCF.EventViewsService" behaviorConfiguration="EventrixWCF_Behavior">
        <endpoint address="" binding="webHttpBinding" contract="EventrixWCF.IEventViewsService"></endpoint>
      </service>
      <service name="EventrixWCF.SurveyService" behaviorConfiguration="EventrixWCF_Behavior" >
        <endpoint address="" binding="webHttpBinding"  contract="EventrixWCF.ISurveyService"></endpoint>
      </service>
    </services>
    
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="EventrixWCF_Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    
      <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>